.root
{
    margin: 0 auto;
    padding: 0 auto;
}

.grid-section
{
    display: grid;
}

.description 
{
    grid-column-start: 1;
    grid-column-end: 5;   
   
    margin-left: 40px;
    margin-right: 40px; 
    height: 100%;
} 

.description-1, .description-2, .description-3, .description-4
{
    background-color: #fff;
    border: 5px solid #2B0C5A;
    padding: 40px;
    margin: 20px;
    margin-bottom:20px;
} 

.description-1 h3, .description-2 h3, .description-3 h3, .description-4 h3, .description-5 h3
{
    font-weight:bold;
}

.description-2 summary
{
    font-weight:700;
}

.tablas
{
  display: grid;
  grid-column-start: 1;
    grid-column-end: 5;
  place-items: center;
}

.description-5 h3
{
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 5;
    padding-top: 20px;
}

th, td {
    padding: 5px;
    text-align: center;
    background-color: #fff;
    border: 9px solid #b2d8fa;    
}


.tabla1, .tabla2, .tabla3, .tabla4
{
    text-align: center;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 5;
    border-collapse: collapse;
    border: 15px solid #2B0C5A;
}

.tabla1
{   
    grid-row-start: 2;
    grid-row-end: 3;
    margin-bottom: 20px;
    
   
}

.tabla2
{
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tabla3
{
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tabla4
{
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 20px;
    margin-bottom: 20px;
}

