    .root
    {
        margin: 0 auto;
        padding: 0 auto;
    }

    .grid-section
    {
        display: grid;
        place-items: center;
    }

    .description 
    {
        grid-column-start: 1;
        grid-column-end: 5;   
        margin: 50px;
        height: 100%;
        position:static;
    } 

    .description-1 h3   
    {
        text-align: center;
        color:#2B0C5A;
        border-bottom: 5px solid #2B0C5A;   
    }

    .list-group{

        display: flex;
        flex-direction: row;
        margin-bottom: 20px;  
        border-radius: none ;
    }

    .list-group a{
        background-color: #2B0C5A;
        color:#fff;
        text-align: center          ;    
    }
    .list-group-item:first-child 
    {
        border-top-left-radius: inherit;
        border-top-right-radius:0%;
        border-top-width: 0;
        border-bottom-left-radius: inherit;               
    }

    .list-group-item:last-child 
    {
        border-top-right-radius: inherit;   
        border-top-width: 0;
        border-bottom-right-radius: inherit;               
    }

    .list-group-item.list-group-item 
    {
        border-top-width: 0;        
    }

    .list-group-item.active
    {
        background-color: #0d6efd   ;
        border-color: #fff  ;
    }

    .list-group a:hover
    {
        background-color: #b2d8fa;
        color: black;
    }

    summary
    {
        padding-bottom: 10px;
        font-weight:700;
    }

    button
    {
        font-weight:700;
        width: 70px;
    }
 

    .tab-pane 
    {
        display: grid;
        grid-column-start: 1;
          grid-column-end: 5;
        place-items: center;
    }

    table
{ 
    text-align: center;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 5;

    border: 15px solid #2B0C5A;
}

    .mostrar {
        display: block;
    }
    
    h3
    {
        grid-column-start: 1;
        grid-column-end: 5;
        padding-top: 20px;
    }

    th, td {
        padding: 5px;
        text-align: center;
        background-color: #fff;
        border: 9px solid #b2d8fa;    
    }


    #tabla1, #tabla2, #tabla3, #tabla4
    {
        text-align: center;
        margin: 0 auto;
        grid-column-start: 1;
        grid-column-end: 5;
        margin-bottom: 20px ;
    }       

    .mas-info a
    {       
        padding-left: 135px;
    }       


    
