.iconCarrousel {
    background-image: url('../images/icons/arrow.svg');
    width: 50px;
    height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

svg {
    fill: #2B0C5A;
}


.iconPrevious {
    transform: rotate(180deg);
}

.carousel-control-next {
    opacity: 1;
    position: absolute;
    right: 0;
    transform: translateX(50%);
    z-index: 1;
}

.carousel-control-prev {
    opacity: 1;
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    z-index: 1;
}

.carousel-indicators [data-bs-target] {
    background-color: #2B0C5A;
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 25%);
}

.carousel-indicators {
    position: absolute;
    bottom:-56px;
}

.carousel-caption {
    left: 10%;
    right: 10%;
}

.carousel-caption h5 {
    font-size: 48px;
    margin-bottom: 60px;
}

.carousel-caption p {
    font-size: 24px;
}

.boton-inicio {
    
    position: absolute;
    top: 105%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 25px;

}

.boton1{
    border-style: none;
    color: #ffffff;
    background-color: #2B0C5A;
    padding: 20px 50px 20px 50px;
    border-radius: 8px;
    
}


.boton2{
    border-style: none;
    color: #2B0C5A;
    padding: 18px 50px 15px 50px;
    border-radius: 8px;
}
.boton-carousel {
    box-shadow: 0 0 50px 4px rgba(0, 0, 0, 25%);
}

.carousel {
    width: 970px;
    height: 672px;
}

.carousel-inner {
    border-radius: 5px;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 25%);
}

.alineamiento {
    top: 25%;
}

.content {
    margin-top: 10vh;
    margin-bottom: 30vh;
}

.carousel-buttons {
  position: inherit;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-item > img {
    height: 672px;
    object-fit: fill;
    filter: brightness(50%);
}